@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}


.login-title {
  position: relative;
  font-size:2rem;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  letter-spacing: 2px;
  

  /* Floating animation */
  
}


.login-form {

    background:transparent;
    
    padding: 4rem 5rem;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}

.form-group{

    flex-direction: column;
    display: flex;
    margin-bottom: 2rem;
}

.login-button {

    background: linear-gradient(135deg, #004D98, #A50044);
  color: #ffffff; /* Gold touch like the crest */
  border: none;
  padding: 14px 60px;
  font-size: 16px;
  font-weight: bold;
 
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.login-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-50deg);
  transition: all 0.75s ease-in-out;
  
}

.login-button:hover::after {
  left: 130%;
}

.login-button:hover {
  transform: scale(1.05);
}

label {
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 14px;
  ;
  border:none;
  border-radius: 6px;
}



input:focus {
  
  outline: none;
}